.action:last-child {
  margin-bottom: 0;
}

.action {
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.action {
  display: block;
  width: 100%;
  margin-bottom: 16px;
  padding: 14px 4px;
  font-weight: 500;
  color: white;
  text-align: center;
  line-height: 1;
  font-family: "Roboto bold", Helvetica, Arial, sans-serif;
  background-color: #5bc500;
  border-radius: 4px;
  border: 1px solid #5bc500;
  outline: 0;
  cursor: pointer;
}

.actionText {
}
