.innerContainer {
  width: 100%;
  max-width: 680px;
  margin: 0 auto;
}

.innerContainerBox {
  display: flex;
  flex-direction: row;
  position: relative;
  z-index: 1;
  margin-top: 48px;
  background-color: #ffffff;
  border-radius: 8px;
}

.innerContainerContent {
  flex: 1.7;
  min-height: 500px;
  padding: 40px;
}

@media only screen and (max-width: 767px), only screen and (max-height: 550px) {
  .innerContainer {
    max-width: 100%;
    margin: 0;
  }

  .innerContainerBox {
    margin-top: 0px;
    border-radius: 0px;
  }

  .innerContainerContent {
    flex: 1;
    padding: 0px;
  }

  .innerContainerContent p {
    text-align: start;
  }
}
