.button {
  height: 48px;
  background-color: var(--movistar-primary-light-green);
  color: white;
  border-radius: 4px;
  border-width: 0;
  font-size: 16px;
  font-family: Roboto;
  letter-spacing: 1px;
  outline: none;
}

.button:hover {
  cursor: pointer;
  background-color: var(--movistar-primary-dark-green);
}

.button:disabled {
  background-color: #ade27f;
  cursor: default;
}
