.container {
}

.cardContainer {
  padding: 10px 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.2);
}

.cardContainer p {
  margin: 0;
}

.date {
  margin: 5px;
  font-size: 19px;
  font-weight: "bold";
}

.separator {
  height: 1px;
  width: 90%;
  background-color: black;
  margin-bottom: 10px;
}

.buttonsContainer {
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
}

.buttonLabel {
  padding: 2px 8px;
  background-color: #333;
  color: #fff;
  border-radius: 16px;
}
