/* mobile styles */
.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  position: relative;
  background: var(--android-backgrounds-background-alter);
  position: relative;
  box-sizing: border-box;
  margin-top: 56px;
}

/* large tablets & laptop styles */
@media screen and (min-width: 768px) {
  .content {
    margin-top: 0px;
    margin-left: 96px;
  }
}

@media screen and (min-width: 1200px) {
  .content {
    height: calc(100vh - 32px);
  }
}
