.innerContainerAside {
  flex: 1;
  padding: 40px 24px;
  border-left: 1px solid #eee;
}

.innerContainerAside p {
  margin-bottom: 24px;
  font-size: 14px;
  line-height: 1.8;
  color: #757575;
}

@media only screen and (max-width: 767px), only screen and (max-height: 550px) {
  .loginWrapper {
    background: white;
  }

  .innerContainerAside {
    display: none;
  }
}
