.container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 4px 8px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.container :hover {
  background-color: rgba(33, 33, 33, 0.1);
}

.phoneIcon {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.phoneIcon img {
  height: 32px;
  width: 32px;
}

.phoneContainer {
  display: flex;
  align-items: center;
  background-color: transparent;
}

.phoneTextContainer {
  display: flex;
  padding: 0px 16px;
  background-color: transparent;
}

.phone {
  font-family: Roboto;
  font-size: 16px;
}

.name {
  font-family: Roboto;
  font-size: 14px;
  display: none;
}

/* desktop styles */
@media screen and (min-width: 1200px) {
  .container {
    justify-content: space-between;
  }

  .phoneIcon {
    width: 48px;
    height: 48px;
  }

  .phoneIcon img {
    width: 48px;
    height: 48px;
  }

  .name {
    font-family: Roboto;
    font-size: 14px;
    display: block;
  }
}
