.dropdown {
  position: relative;
  display: flex;
  align-items: center;
  background: #fff;
  height: 48px;
  padding: 0px 10px;
  box-sizing: border-box;
  border-bottom: 1px solid #eeeeee;
  cursor: pointer;
  /*box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);*/
}

.dropdownContent {
  box-sizing: border-box;
  display: block;
  position: absolute;
  background-color: #f9f9f9;
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 10px;
  z-index: 1;
  left: 0px;
  top: 0px;
  transition: height 1s ease-in-out;
}

/* desktop styles */
@media screen and (min-width: 1200px) {
  .container {
    justify-content: space-between;
  }

  .dropdown {
    /*height: 88px;*/
  }
}
