.globalWrapper {
  font-family: -apple-system, Roboto, Helvetica, Arial, sans-serif;
  font-weight: 300;
  display: flex;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  overflow-y: auto;
  background: var(--android-backgrounds-background-alter);
  font-size: 14px;
  line-height: 1.3;
  color: #2a2a3c;
  -webkit-touch-callout: none;
  user-select: none;
}

/* large desktop styles */
@media only screen and (min-width: 1401px) {
  .globalWrapper {
    width: 1400px;
    height: calc(100vh - 32px);
    top: 16px;
    left: 50%;
    margin-left: -700px;
    border: 1px solid #e2e2e2;
    border-radius: 10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    position: fixed;
  }
}
