.container {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: 16px;
}

.container p {
  font-size: 13px;
  margin: 2px 0px;
}

.box {
  display: flex;
  background: white;
  border-radius: 8px;
  height: 40px;
  border: 1px solid #ddd;
}

.iconContainer {
  display: flex;
  padding: 10px 10px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  align-items: center;
  justify-content: center;
  border: 1px solid #ddd;
}

.iconContainerRounded {
  display: flex;
  padding: 10px 10px;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
}

.textContainer {
  flex: 1;
  background: white;
  padding: 0px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
}

.label {
  position: absolute;
  left: 0px;
  top: 0px;
  font-size: 13px;
  background: red;
}

.rightButton {
  display: flex;
  align-items: center;
  background-color: #5fc705;
  color: white;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
