.innerContainerContent {
  flex: 1.7;
  min-height: 500px;
  padding: 40px;
}

@media only screen and (max-width: 767px), only screen and (max-height: 550px) {
  .innerContainer {
    max-width: 100%;
    margin: 0;
  }
  .innerContainerContent {
    flex: 1;
    padding: 0px;
  }

  .innerContainerContent p {
    text-align: start;
  }
}
