.formItem {
  display: block;
}

.formItemText {
  margin-bottom: 16px;
}

.formInput {
  width: 100%;
  height: 32px;
  padding: 4px 0;
  font-size: 16px;
  color: #4c4c53;
  border-bottom: 1px solid #dddddd;
  box-shadow: inset 0 -1px 0 transparent;
  -webkit-transition: box-shadow 0.3s;
  transition: box-shadow 0.3s;
}

.formInputText {
  cursor: pointer;
  padding: 12px 32px 12px 12px;
  font-family: Roboto;
  border: 1px solid #ddd;
  border-radius: 4px;
  height: auto;
}

.passwordIcon {
  float: right;
  margin-left: -25px;
  margin-top: -46px;
  position: relative;
  z-index: 2;
  margin-right: 0px;
  cursor: pointer;
  height: 44px;
  width: 44px;
  background-repeat: no-repeat;
  background-size: 32px;
  background-position-y: center;
  background-position-x: center;
}

.loginSubtitle2 {
  margin-bottom: 8px;
  padding: 0px 4px;
  font-size: 10px;
  line-height: 1;
  color: #999999;
  text-align: left;
}
