.loginWrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background: #f6f6f6 url("../../../public/assets/images/body-background.svg")
    repeat;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: normal 16px/1.6 Roboto, Helvetica, Arial, sans-serif;
  color: #4c4c53;
}

@media only screen and (max-width: 767px), only screen and (max-height: 550px) {
  .loginWrapper {
    background: white;
  }
}
