.loginHeader {
  margin-bottom: 8px;
  text-align: center;
}

.loginHeaderTitle {
  font-size: 28px;
  font-weight: 400;
  line-height: 1.4;
  color: #2a2a3c;
}

@media only screen and (max-width: 767px), only screen and (max-height: 550px) {
  .loginHeader {
    display: none;
  }
}
