.header {
  display: flex;
  align-items: center;
  height: 80px;
  background-color: #fff;
}

.header::after {
  content: "";
  position: absolute;
  top: 80px;
  right: 0;
  left: 0;
  z-index: 0;
  height: 128px;
  background: #00a9e0 url("../../../public/assets/images/img-bg-sandbox.svg")
    no-repeat right center;
}

.headerImg {
  width: 100%;
  max-width: 680px;
  margin: 0 auto;
}

@media only screen and (max-width: 767px), only screen and (max-height: 550px) {
  .header {
    display: none;
  }
}
