/* Desktop Styles */

.mainNavContainer {
  background-color: #0098d2;
  width: 96px;
  position: fixed;
  z-index: 100;
  height: 100vh;
}

.mainNavTabText {
  color: #7ed4ef;
  margin: 0;
  font-size: 11px;
  margin-top: 4px;
}

.mainNavTabTextSelected {
  color: #fff;
  margin: 0;
  font-size: 11px;
  margin-top: 4px;
}

.logo {
  width: 40px;
  height: 40px;
  align-self: center;
  cursor: pointer;
}

.mainNavTabsContainer {
  color: #fff;
  list-style: none;
  justify-content: center;
  padding: 0;
  margin: 0;
}
.mainNavBottomTabsContainer {
  position: absolute;
  width: 96px;
  bottom: 0;
  padding: 0px;
  margin: auto;
  list-style: none;
}

.mainNavTabItem {
  text-align: center;
  padding: 16px 0px;
  box-sizing: border-box;
}

.mainNavTabItemLogo {
  height: 88px;
  max-height: 88px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainNavTab {
  color: #fff;
  text-decoration: none;
  align-self: center;
}
.mainNavHomeTab {
  background-color: var(--movistar-primary-light-blue) !important;
}
.mainNavTabIcon {
  align-self: center;
  padding: 0 16px;
}

/* Mobile Styles */
@media only screen and (max-width: 767px), only screen and (max-height: 550px) {
  .mainNavHomeTab,
  .mainNavTabText,
  .mainNavTabTextSelected {
    display: none;
  }
  .mainNavContainer {
    height: 56px;
    width: 100%;
  }
  .mainNavTabsContainer {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 56px;
  }
  .mainNavTabItem {
    height: auto;
  }
  .mainNavTabIcon {
    /*width: 20px;
    height: 20px;*/
  }
  .notVisible {
    display: none;
  }
}

/* Large Desktop Styles */
@media only screen and (min-width: 1401px) {
  .mainNavContainer {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    height: calc(100vh - 32px);
  }
  .mainNavHomeTab {
    border-top-left-radius: 10px;
  }
}
