.container {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.35);
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: center;
}

.boxWrapper {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 100%;
  padding: 20px 20px;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.2);
  grid-gap: 10px;
}

.plan {
  background-color: tranpsarent;
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;

  align-items: center;
  box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.2);
  padding: 5px 10px;
  border-radius: 8px;
  cursor: pointer;
}

.selected {
  box-shadow: 0 0px 2px 2px rgba(70, 192, 36, 0.7);
}

.plan span:nth-child(2) {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: salmon;
  border-radius: 4px;
  color: white;
}

.plan span:nth-child(3) {
  padding: 20px;
  text-align: center;
  background-color: transparent;
}
