.formItem {
  display: block;
  position: relative;
}

.formItemText {
}

.formInput {
  position: relative;
  width: 100%;
  height: 32px;
  padding: 4px 0;
  font-size: 16px;
  color: #4c4c53;
  border-bottom: 1px solid #dddddd;
  box-shadow: inset 0 -1px 0 transparent;
  -webkit-transition: box-shadow 0.3s;
  transition: box-shadow 0.3s;
}

.formInput::placeholder {
  font-size: 12px;
  color: #ccc;
}

.formInputText {
  position: relative;
  cursor: pointer;
  padding: 12px 32px 12px 12px;
  font-family: Roboto;
  border: 1px solid #ddd;
  border-radius: 4px;
  height: auto;
}

.passwordIcon {
  position: absolute;
  right: 4px;
  top: 50%;
  width: 30px;
  height: 30px;
  padding: 5px;
  border-radius: 8px;
  margin-top: -15px;
  cursor: pointer;
}

.loginSubtitle2 {
  margin-bottom: 8px;
  padding: 0px 4px;
  font-size: 10px;
  line-height: 1;
  color: #999999;
  text-align: left;
}
