.loginTabsItem {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.2px;
  border-bottom: 2px solid transparent;
  cursor: pointer;
}

.loginTabsItemSelected {
  pointer-events: none;
  border-bottom: 2px solid #5bc500;
}

@media only screen and (max-width: 767px), only screen and (max-height: 550px) {
  .loginTabsItemSelected {
    border-bottom: 2px solid #00a9e0;
  }
}
