.imageContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 150px;
  height: 150px;
  width: 150px;
}

.circle {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate3d(0, 0, 0);
}

.icon {
  /* width : 34px;
    height : 34px; */
  text-align: center;
  border-radius: 50%;
  margin: 0 auto;
}

.a1 {
  color: #757575;
  font-size: 0.7em;
}

.a2 {
  color: #757575;
  font-size: 1.6em;
  font-weight: 300;
}

.a3 {
  color: #666675;
  font-size: 1em;
  font-weight: bold;
  /* margin: 10px 0;  */
}
