.icon_container {
  width: 34px;
  border: solid 1px #5bc500;
  padding: 7px 7px;
  border-radius: 50%;
  height: 34px;
  background: #5bc500;
}

.button_actions:focus {
  outline: none;
}

.button_actions:hover {
  cursor: pointer;
}

.button_actions {
  display: flex;
  width: 200px;
  padding: 5px;
  border-radius: 20px;
  border: solid 1px#868383;
  background: #fff;
  align-items: center;
  margin: 0px 10px;
}

.main_container {
  display: flex;
  padding: 0 5px;
  align-items: center;
  width: 100%;
}

.text_button {
  text-align: center;
  width: 100%;
  color: #504e4e;
  margin: 0 8px;
}
