.button_container {
    display: flex;
    align-items: center;
    background: #433e3e;
    padding: 3px 7px;
    width: 170px;
    border-bottom: solid 2px #b4b4b4;
}

.button_container:hover {
    cursor: pointer;
}

.button_promotions {
    margin: 5px;
    border: 0;
    background: transparent;
    color: #fff;
}

.button_promotions:hover { cursor: pointer;}
.button_promotions:focus {outline: none;}

.purple {
    border-left: solid 4px rgb(203, 14, 241);
}

.green {
    border-left: solid 4px rgb(59, 241, 14);
}

.red {
    border-left: solid 4px rgb(241, 14, 52);
}