@font-face {
  font-family: Roboto;
  src: url("../public/assets/fonts/Roboto-Thin.ttf");
  font-weight: 100;
}
@font-face {
  font-family: Roboto;
  src: url("../public/assets/fonts/Roboto-ThinItalic.ttf");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: Roboto;
  src: url("../public/assets/fonts/Roboto-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: Roboto;
  src: url("../public/assets/fonts/Roboto-LightItalic.ttf");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: Roboto;
  src: url("../public/assets/fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: Roboto;
  src: url("../public/assets/fonts/Roboto-Italic.ttf");
  font-style: italic;
}
@font-face {
  font-family: Roboto;
  src: url("../public/assets/fonts/Roboto-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: Roboto;
  src: url("../public/assets/fonts/Roboto-MediumItalic.ttf");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: Roboto;
  src: url("../public/assets/fonts/Roboto-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: Roboto;
  src: url("../public/assets/fonts/Roboto-BoldItalic.ttf");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: Roboto;
  src: url("../public/assets/fonts/Roboto-Black.ttf");
  font-weight: 900;
}
@font-face {
  font-family: Roboto;
  src: url("../public/assets/fonts/Roboto-BlackItalic.ttf");
  font-weight: 900;
  font-style: italic;
}

:root {
  --movistar-primary-dark: #2a2a3c;
  --movistar-primary-gray: #757575;
  --movistar-secondary-gray: #f3f3f3;
  --movistar-primary-light-blue: #00a9e0;
  --movistar-secondary-light-blue: #66cbec;
  --movistar-primary-light-green: #5bc500;
  --movistar-primary-dark-green: #499e00;
  --android-backgrounds-background-alter: #f6f6f6;
}

html,
body,
h1,
h2,
h3,
h4,
ul {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
